package <%= group %>.<%= name%>;

import org.junit.jupiter.api.Test;
import org.springframework.boot.test.context.SpringBootTest;

@SpringBootTest
class <%= classify(name)%>ApplicationTests {

	@Test
	void contextLoads() {
	}

}
